<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_despacho/css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cbf68546a3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="conteiner">
        <footer>
            <div class="caja row justify-content-center">
              
              <div class="pre_footer">
                
                <div class="info">
                  <p class="titulo_footer">Contacto</p>
                  
                  <p class="descripcion_footer"><i class="fas fa-phone"></i> +569-81821828</p>
                  
                  <p  class="descripcion_footer"><i class="fas fa-envelope"></i> Naturalischile@contacto.cl</p>
                  
                  <p class="descripcion_footer"><i class="fas fa-clock"></i>  Lunes - sabados de 9:00 a 17:00 hrs </p>
                  
                  <p class="descripcion_footer"><i class="fas fa-map-marker-alt"></i> Calle sin nombre #1234, Providencia </p>
                </div>
              </div>
      
              <div class="pre_footer2">
                <img src="{% static 'app_despacho/img/logo_blanco2.png' %}" width="150">
                <div class="info">
                  <p class="descripcion_footer">Compra online con despacho a domicilio y obtén nuestras ofertas en productos locales, frescos y orgánicos ¡Conoce nuestra opción de despacho!</p>
                </div>
              </div>
            </div>
            <div class="caja2 row justify-content-center">
              <div class="footer2">
                <hr>
              </div>
              <p class="texto_footer">Naturalis &copy; 2021</p>
            </div>
          </footer> 

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>